import init.odroidu2.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    export SECONDARY_STORAGE /mnt/ext_sd
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard
    mkdir /mnt/ext_sd 0000 system system	
    mkdir /mnt/ext_usb 0000 system system	

on init

# setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/system/busybox/bin:/system/busybox/sbin:/system/busybox/usr/bin:/system/busybox/usr/sbin
 
on boot
    setprop ro.build.product odroidu2
    setprop ro.product.device odroidu2
    setprop ro.radio.noril yes
    setprop ro.kernel.android.ril 0
    setprop ril.work 0

	#===================================================================
	#
	# Permissions for backlight
	#
	#===================================================================
    chmod 0666 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

on fs
    mount ext4 /dev/block/mmcblk0p2 /system ro wait
    mount ext4 /dev/block/mmcblk0p3 /data wait nosuid nodev noatime nomblk_io_submit,noauto_da_alloc
    mount ext4 /dev/block/mmcblk0p4 /cache wait nosuid nodev noatime nomblk_io_submit
	mount usbfs none /proc/bus/usb -o devmode=0666

	#===================================================================
	#
	# permissions for bluetooth Mac address
	#
	#===================================================================
	chown bluetooth bluetooth /system/etc/bluetooth
	chmod 755 /system/etc/bluetooth

on post-fs-data
	#===================================================================
	#
	# wi-fi post data
	#
	#===================================================================
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp

	setprop wifi.interface "ra0"
	setprop wlan.interface "ra0"
	setprop wlan.driver.status "ok"

    setprop vold.post_fs_data_done 1

setprop net.tcp.buffersize.hspa    4095,280320,350400,4096,16384,110208

    stop ril-daemon

service net_usb_module /system/bin/insmod /system/lib/modules/smsc95xx.ko    
    class core
    user root
    group root
    oneshot

#===================================================================
#
# create filesystem if necessary
#
#===================================================================
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p3 \
            /dev/block/mmcblk0p4
    class core
    user root
    group root
    oneshot

#===================================================================
#
# WIFI wpa suppplicant service
#
#===================================================================
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ira0 -c /data/misc/wifi/wpa_supplicant.conf
	class main
    socket wpa_ra0 dgram 0660 wifi wifi
	disabled
	oneshot

service dhcpcd_ra0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_ra0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

# IP Renew
# eth0 
service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
    
