service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ira0 -c /data/misc/wifi/wpa_supplicant.conf
        class main
    socket wpa_ra0 dgram 0660 wifi wifi
        disabled
        oneshot

service dhcpcd_ra0 /system/bin/dhcpcd -ABKL
        class main
        disabled
        oneshot

service iprenew_ra0 /system/bin/dhcpcd -n
        class main
        disabled
        oneshot
